h1 {color:pink;}
#f1 {color:purple;}
.f2 {color:orange;}
#CCS .b1 {
  color: black; 
  background-color: pink;}
.b2 {
  color: black; 
  background-color: purple;}
 .b3 {
  color: black; 
  background-color: orange;}  